#pragma once

#define CLIENT_MAC { 0xFF, 0xFF, 0xFF, 0xFF, 0xFF, 0xFF }
#define SERVER_MAC { 0xFF, 0xFF, 0xFF, 0xFF, 0xFF, 0xFF }

#define PMK "MASTERKEY1234567" // ESP_NOW_KEY_LEN = 16
#define LMK "1234567890ABCDEF" // ESP_NOW_KEY_LEN = 16
